fastapi>=0.100.0
groq>=0.4.0
httpx>=0.25.0
python-dotenv>=1.0.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
stripe>=11.0.0
segno>=1.6.0
python-multipart>=0.0.9
fpdf2>=2.7.0
pyotp>=2.9.0
qrcode>=7.4.2
